<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HOREN PORTFOLIO</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  
  <link href="{% static 'img/favicon.ico' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <!-- Favicons -->  

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">HOREN TECH </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="{%url 'index'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{%url 'about'%}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{%url 'frontblog'%}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{%url 'subscribe'%}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url('static/img/one-dark.jpg')">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">We Provide Best Solution</h1>
          <p class="intro-subtitle"><span class="text-slider-items">On Web Development,Programming,Graphic Design</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <!--/ Section Services Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
              Services
              
            </h3>
            <p class="subtitle-a">
              we provide best services that are highly relaible, user friendly and fast internet.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">

        {% for ser in service %}

        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="{{ser.service_icon}}"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ser.service_heading}}</h2>
              <p class="s-description text-center">
                {{ser.service_note}}
              </p>
            </div>
          </div>
        </div>
        {%endfor%}
      
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

  <div class="section-counter paralax-mf bg-image" style="background-image: url(static/img/back-gd.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">10</p>
              <span class="counter-text">WORKS COMPLETED</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">6</p>
              <span class="counter-text">MONTHS OF EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">5</p>
              <span class="counter-text">TOTAL CLIENTS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">2</p>
              <span class="counter-text">AWARD WAITING FOR</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <p class="subtitle-a">
              we covered everything that you need to be understand on web design and programming.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
         
       

        {% for w in datae %}

        <div class="col-md-4">
          <div class="work-box">
            <a href="{{w.image.url}}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{{w.image.url}}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">{{w.course_heading}}</h2>
                    <div class="w-more">
                      <a href="{{w.course_link}}">
                      <span class="w-ctegory">{{w.course_notes}}</span></a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div> 
        {%endfor%}        
      </div>
    </div>
  </section>

 
  
  <!--/ Section Portfolio End /-->

  <!--/ Section Testimonials Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(static/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>  
  <div class="testimonials paralax-mf bg-image" style="background-image: url(static/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-mf" class="owl-carousel owl-theme">         

            <div class="testimonial-box">
              <div class="author-test">
                <img src="static/img/ceo_horen.png" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Mr Yusuf Lawal</span> 
              </div>
              <div class="content-test">
                <p class="description lead">
                  CEO HOREN TECHNOLOGIES
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
   
    <footer>
      <div class="container portfolio-mf sect-pt4 route">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright {{current_year}}</p>
              <div class="credits">
      
                Designed By |  <a href="#"><strong>HOREN TECHNOLOGIES</strong></a>
               
              </div>
            </div>
          </div>
        </div>
      </div>
      
     
     
    </footer>
   
  
  </section>
  
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  

 <!-- whatsapp section -->
 <a href="https://api.whatsapp.com/send/?phone=+2348120484554&text=I%27m+interested+in+your+work" 
 class="whatsapp"><i class="fa fa-whatsapp"></i></a>

 

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/counterup/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/jquery.counterup.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/typed/typed.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
